/* ---------------------------- SMALL SCREEN -------------------------------------------- */
@media only screen and (min-width: 991px){
   
}

/* ---------------------------- MEDIUM SCREEN -------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px){
    /* css */
}


/* ---------------------------- SMALL SCREEN -------------------------------------------- */
@media only screen and (max-width: 767px){
   
}