 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	text-decoration: none;
 	list-style: none;
 }


 :root {
 	--bg-color: #ffffff;
 	--text-color: rgb(17, 17, 17);
 	--main-color: #898F73;
 }

 body {
 	min-height: 100vh;
 	background: var(--bg-color);
 	color: var(--text-color);
 	background-color: #EFF0EC;
 }

 header {
 	position: fixed;
 	width: 100%;
 	top: 0;
 	right: 0;
 	z-index: 1000;
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	background: transparent;
 	padding: 28px 12%;
 	transition: all .50s ease;
 	background-color: white;
 	font-family: 'PT Sans', sans-serif;
 	font-size: small;
 }

header ul li a{
	text-decoration: none;
}

.main a{
	text-decoration: none;
}

 .logo {
 	display: flex;
 	align-items: center;
	text-decoration: none;
 }

 .logo i {
 	color: var(--main-color);
 	font-size: 28px;
 	margin-right: 3px;
 }

 .logo span {
 	color: var(--text-color);
 	font-size: 1.7rem;
 	font-weight: 600;
 }

 .navbar {
 	display: flex;
 }

 .navbar a {
 	color: var(--text-color);
 	font-size: 1.1rem;
 	font-weight: 500;
 	padding: 5px 0;
 	margin: 0px 30px;
 	transition: all .50s ease;
 }

 .navbar a:hover {
 	color: var(--main-color);
 }

 .navbar a.active {
 	color: var(--main-color);
 }

 .main {
 	display: flex;
 	align-items: center;
 }

 .main a {
 	margin-right: 25px;
 	margin-left: 10px;
 	color: var(--text-color);
 	font-size: 1.1rem;
 	font-weight: 500;
 	transition: all .50s ease;
 }

 .user {
 	display: flex;
 	align-items: center;
 }

 .user i {
 	color: var(--main-color);
 	font-size: 28px;
 	margin-right: 7px;
 }

 .main a:hover {
 	color: var(--main-color);
 }

 #menu-icon {
 	font-size: 35px;
 	color: var(--text-color);
 	cursor: pointer;
 	z-index: 10001;
 	display: none;
 }


 /*------------------------------------------------   MAIN  ------------------------------------------------ */
 #main-awal {
 	padding-top: 200px;
	padding-bottom: 100px;
 }

 #main-kedua {
	padding: 50px 80px 50px 80px;
 }

 .popularBrand{
	height: 140px;
 }

 .col img{
	height: 200px;
 }


 .cap{
	height: 300px;
 }

 .carousel-inner {
	padding: 1em;
  }
  .card {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
	background-color: #e1e1e1;
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
  }
  @media (min-width: 768px) {
	.carousel-item {
	  margin-right: 0;
	  flex: 0 0 33.333333%;
	  display: block;
	}
	.carousel-inner {
	  display: flex;
	}
  }
  .card .img-wrapper {
	  max-width: 100%;
	  height: 13em;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .card img {
	  max-height: 100%;
  }
  @media (max-width: 767px) {
	.card .img-wrapper {
	  height: 17em;
	}
  }
 /*------------------------------------------------  BEST SELLER  ------------------------------------------------ */

 @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

 /*------------------------------------------------  FOOTER ------------------------------------------------ */
 footer{
	background-color: #EFF0EC;
 }

 ul li a{
	text-decoration: none;
 }


 /*------------------------------------------------  BEDA DEVICE  ------------------------------------------------ */
 @media (max-width: 1280px) {
 	header {
 		padding: 14px 2%;
 		transition: .2s;
 	}

 	.navbar a {
 		padding: 5px 0;
 		margin: 0px 20px;
 	}
 }

 @media (max-width: 1090px) {
 	#menu-icon {
 		display: block;
 	}

 	.navbar {
 		position: absolute;
 		top: 100%;
 		right: -100%;
 		width: 270px;
 		height: 29vh;
 		background: var(--main-color);
 		display: flex;
 		flex-direction: column;
 		justify-content: flex-start;
 		border-radius: 10px;
 		transition: all .50s ease;
 	}

 	.navbar a {
 		display: block;
 		margin: 12px 0;
 		padding: 0px 25px;
 		transition: all .50s ease;
 	}

 	.navbar a:hover {
 		color: var(--text-color);
 		transform: translateY(5px);
 	}

 	.navbar a.active {
 		color: var(--text-color);
 	}

 	.navbar.open {
 		right: 2%;
 	}
 }

 /*------------------------------------------------ END BEDA DEVICE  ------------------------------------------------ */